<app-map-d3 *ngFor="let country of countries, let i = index" [uniqueId]="i" [markers]="country.markers" [latitude]="country.center.latitude"
  [longitude]="country.center.longitude" [visible]="getVisibility(i)" [scale]="country.scale"></app-map-d3>
<div class="travel">
  <div *ngFor="let country of countries, let i = index" class="section {{ i === 0 ? 'introduction' : 'other-container' }}">
    <div class="w-100">
      <div [class.opacity-zero]="!sectionFirstActivation[i]" [class.fadeIn]="sectionFirstActivation[i]" *ngIf="i===0">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h3>
                {{ 'TRAVEL.INTRODUCTION' | translate }}
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div [class.opacity-zero]="!sectionFirstActivation[i]" [class.fadeIn]="sectionFirstActivation[i]" *ngIf="i>0">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-6 text-md-right border-blue">
              <span>
                {{ 'TRAVEL.COUNTRY.TEXT' | translate: {value: country.name} }}
              </span>
            </div>
            <div class="col-sm-12 col-md-6">
              <span *ngFor="let city of country.markers" [class.city-to-click]="city.images && city.images.length > 0"
                (click)="showModalImage(city)">
                {{ city.city }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-images" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg transp-bkg">
    <div class="modal-content modal-travel align-content-center transp-bkg">
      <div class="row w-100">
        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
      <div class="row w-100" *ngIf="imageToShow">
        <div class="col-1 d-flex justify-content-center align-items-center left" (click)="changeImage(-1)">
          <fa-icon icon="chevron-left"></fa-icon>
        </div>
        <div class="col-10">
          <app-image [src]="imageToShow"></app-image>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center right" (click)="changeImage(1)">
          <fa-icon icon="chevron-right"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
