<app-map-d3 *ngFor="let place of places, let i = index" [uniqueId]="i" [markers]="getMarker(place)" [latitude]="place.latitude"
  [longitude]="place.longitude" [visible]="getVisibility(i)" [scale]="3000"></app-map-d3>
<div class="life">
  <div class="section one">
    <div class="container ">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <span class="title">
            {{ 'LIFE.SECTION_ONE.HI' | translate }}
          </span>
          <span class="description">
            {{ 'LIFE.SECTION_ONE.INTRO' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="section two">
    <div class="container">
      <div class="row">
        <div class="d-sm-none d-md-block col-md-6"></div>
        <div class="col-sm-12 col-md-6 text-right">
          <span class="title">
            {{ 'LIFE.SECTION_TWO.TITLE' | translate }}
          </span>
          <span class="description">
            {{ 'LIFE.SECTION_TWO.DESC' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="section three">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <span class="title">
            {{ 'LIFE.SECTION_THREE.TITLE' | translate }}
          </span>
          <span class="description">
            {{ 'LIFE.SECTION_THREE.DESC' | translate }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
