<div class="blue-bkg p-3 mb-5" *ngIf="userInfo">
  <div class="container">
    <div class="row my-3 d-flex align-items-center justify-content-center">
      <div class="col-sm-12 col-md-3">
        <div class="d-flex justify-content-center">
          <app-image [src]="userInfo.profile_picture" [white]="true" classToAppend="text-center rounded-circle">
          </app-image>
        </div>
      </div>
      <div class="col-sm-12 col-md-9 d-flex flex-column">
        <h2>{{userInfo?.username}}</h2>
        <span>
          <button class="button border-custom white" (click)="goToInstagram()">
            {{ 'COMMON.BUTTONS.GO_TO' | translate }}
            <fa-icon [icon]="['fab','instagram']"></fa-icon>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="container social" *ngIf="posts">
  <ngx-masonry [options]="{ transitionDuration: '0.8s', horizontalOrder: true }" [updateLayout]="updateMasonryLayout">
    <ngxMasonryItem class="col-sm-12 col-md-3 p-2 masonry-item post" *ngFor="let post of posts"
      (click)="showModal(post)">
      <img [src]="post.images.standard_resolution.url" class="img-fluid"
        (load)="updateMasonryLayout = !updateMasonryLayout" />
    </ngxMasonryItem>
  </ngx-masonry>
</div>

<app-error-message [show]="error"></app-error-message>


<div class="modal fade" id="modal-post" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" *ngIf="selectedPost">
      <app-map-d3 *ngIf="selectedPost.location" uniqueId="modal-post-map"
        [markers]="createMarker(selectedPost.location)" [latitude]="selectedPost.location.latitude"
        [longitude]="selectedPost.location.longitude" visible="true" scale="2500" delay="250" [overflow]="false">
      </app-map-d3>
      <div class="post-modal-content p-5">
        <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close">
          <fa-icon icon="times"></fa-icon>
        </button>
        <div class="row my-2 d-flex align-items-center">
          <div class="col-sm-12 col-md-6">
            <div class="p-3">
              <app-image [src]="selectedPost.images.standard_resolution.url"></app-image>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="row d-flex align-items-center p-3">
              <fa-icon [icon]="['fas', 'heart']" size="2x" class="mr-2"></fa-icon>
              {{ selectedPost.likes.count | number }}
              <fa-icon [icon]="['fas', 'comments']" size="2x" class="mx-2"></fa-icon>
              {{ selectedPost.comments.count | number }}
            </div>
            <div class="row d-flex align-items-center p-3" *ngIf="selectedPost.location">
              <fa-icon [icon]="['fas', 'map-marker-alt']" size="2x" class="mr-2"></fa-icon>
              {{ selectedPost.location.name }}
            </div>
            <div class="row p-3 newline">
              {{ selectedPost.caption.text }}
            </div>
            <div class="row p-3">
              <button class="button border-custom blue w-100" (click)="goToPostExternal(selectedPost)">
                {{ 'COMMON.BUTTONS.GO_TO' | translate }}
                <fa-icon [icon]="['fas','external-link-square-alt']"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
