@import '../../../scss/colors';
@import '../../../scss/variables';

.header {
  display: flex;
  position: fixed;
  min-height: 12vh;
  height: auto !important;
  height: 12vh;
  width: 100vw;
  background: $opac !important;
  padding: 0 2vw;
  align-items: center;

  .logo {
    font-family: $font-family-logo;
    font-size: $font-size * 3;
    color: $lapis-lazuli !important;
    text-shadow: $text-shadow $lapis-lazuli;
    cursor: pointer;
  }

  .menu-elements {
    display: flex;
    align-items: center;
    transition: 0.2s;
    opacity: 1;

    &.not-display {
      opacity: 0;
    }
  }


}
