@import '../../../scss/colors';
@import '../../../scss/variables';

.top {
  position: fixed;
  cursor: pointer;
  z-index: 100;
  top: 90vh;
  right: -100vw;
  transition: 1s;
  border-radius: 90%;
  background-color: $gray-100;
  padding: 2vh;

  &.visible {
    right: 5vw;
  }
}
