@import 'color-variables';
@import 'variables';
@import 'animation';

.cookie-info {
  background-color: $gray-100;
  min-height: 20%;
  height: auto;
  height: 20%;
  transition: 1s ease;

  .button {
    max-width: 50%;
    width: auto !important;
  }
}
