@import '../../../scss/colors';
@import '../../../scss/variables';

.home {
  display: flex;
  flex-direction: column;
  height: 87vh;
  width: auto;
  color: $white;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gray-800;
    opacity: .6;
  }

  .button {
    color: $white;
  }

  .sections-container {
    margin: auto 0;
    text-transform: uppercase;

    .section {
      transition: 0.5s;
      opacity: 1;

      &.invisible {
        opacity: 0;
      }

      &.right {
        text-align: right;
        margin-left: auto;
      }
    }

  }

  .icons-bottom {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .left,
  .right {
    width: 100%;
    height: auto;
    font-size: $font-size * 1.5;
  }
}
