@import '../../../scss/colors';
@import '../../../scss/variables';

.work {
  font-size: $font-size*2;

  .section {
    height: 87vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.one {
      display: flex;
      text-align: center;
      align-items: center;
    }

    &.two {
      background-image: url('/assets/images/back-section-two.jpg');
      color: $white;

      .icon-tool {
        margin: 2vh 2vw;
        font-size: $font-size * 4;
      }
    }
  }
}
