<app-map-d3 *ngFor="let country of countries, let i = index" [uniqueId]="i" [markers]="country.markers" [latitude]="country.center.latitude"
  [longitude]="country.center.longitude" [visible]="getVisibility(i)" [country]="country.name" [scale]="country.scale"></app-map-d3>
<div class="container fun">
  <div *ngFor="let country of countries, let i = index" class="{{ i === 0 ? 'introduction' : 'other-container' }}">
    <h3 *ngIf="i===0">
      {{ 'FUN.INTRODUCTION' | translate }}
    </h3>
  </div>
</div>
