@import '../../../scss/colors';
@import '../../../scss/variables';

.fun {
  font-family: $font-family;

  font-size: $font-size*2;

  .introduction {
    height: 83vh;
    display: flex;
    align-items: center;
    text-align: right;
    margin: ($font-size) 0;
    padding: 0 $font-size;
  }

  .other-container {
    height: 83vh;

    app-cloud-words {
      width: 100%;
    }

    .city-to-click {
      cursor: pointer;

      &:hover {
        font-size: $font-size*2.25;
      }
    }
  }
}
