/* You can add global styles to this file, and also import other style files */
@import 'scss/colors';
@import 'scss/variables';

body {
  font-family: $font-family;
  font-weight: $font-weight;
  letter-spacing: $letter-spacing;
  font-size: $font-size;
  color: $lapis-lazuli;
}

.modal {
  .modal-content {
    border: none !important;
    background-color: $transparent !important;
    border-radius: 0 !important;
  }

  .close {
    cursor: pointer !important;
    color: $white;
    z-index: 2000;
    font-size: $font-size*2 !important;
  }

  .left,
  .right {
    border: none;
    cursor: pointer;
    width: auto;
    background-color: $transparent;
    cursor: pointer;
    color: $white;
    opacity: 0.6;
    font-size: $font-size*1.5 !important;

    &:hover {
      opacity: 1;
    }
  }
}

.button {
  border: none;
  cursor: pointer;
  width: auto;
  height: 6vh;
  padding: 0 3vw;
  font-size: $font-size * 1.5;
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
  text-decoration: none;
  background-color: $transparent;
  transition: 0.5s;

  color: $lapis-lazuli;


  &:hover {
    background-color: $lapis-lazuli;
    font-weight: 800;
    color: $gray-100;
    text-shadow: none;

    &.green {
      background-color: $green;
    }

    &.red {
      background-color: $dark-red;
    }

    &.yellow {
      background-color: $mandarin;
    }
  }

}

agm-map {
  height: 50vh;
  letter-spacing: normal;
}

router-outlet~* {
  position: absolute;
  height: 100%;
  width: 100%;
}

.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
