$transparent: transparent !default;
$opac: #fff0.5 !default;
$white: #fff !default;
/// gray
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$light-gray: #f2f2f2 !default;
$gray: #d1d1d1 !default;
$medium-gray: #6E6E6E !default;
$dark-gray: #434343 !default;
$darkest-gray: #222222 !default;
// base colors for site
$middle-blue-green: #6dd3ce !default;
$lapis-lazuli: #2274a5 !default;
$dark-cerulean: #083d77 !default;
$darkest-cerulean: #134074 !default;
$teal-blue: #33558a !default;
$magenta: #FF497C !default;
$dark-red: #e73a56 !default;
$desire: #ea3c53 !default;
$mandarin: #f6871f !default;
$green: #96b632 !default;
